* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgba(211, 211, 211, 0.377);
}
header img {
    width: 200px;
    margin-bottom: -35px;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.363);
    color: rgba(0, 0, 0, 0.616);
    font-size: 1.2em;
}
a {
    text-decoration: none;
    
}
li {
    margin: 10px 0;
    text-align: center;
}
main {
    background-color: white;
     height: 250px;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.363);
    color: rgba(0, 0, 0, 0.616);
    font-size: 1.5em;
   
}
.pavadinimas {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.623);
    font-weight:bolder;
    text-transform: capitalize;
}
.knyga {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.623);

}


footer  {
    text-align: center;  
   
}
@media(min-width:760px)
{
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: center;
       height: 120px;
      
    }
    header img {
        width: 120px;
       margin-bottom: 20px;
       margin-left: 170px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        margin-right: 170px;
    }
    a {margin: 10px;}
     main {
         width: 80%;
         margin-left: 150px;
     }
    
}